<section class="section">
    <div class="container">
      <h1 class="title">
        welcome to home page
      </h1>
      <p class="subtitle">
        your logged in <strong> your name </strong>!
      </p>
    </div>
</section>